.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
}

.news {
  flex: 3; /* ocupa a maior parte do espaço */
  padding: 20px;
}

.weather {
  flex: 1; /* ocupa o espaço à direita */
  max-width: 300px; /* largura máxima para o tempo */
  padding: 20px;
}
