/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px; /* Limita a largura máxima do contêiner */
}

.weather {
  width: 250px; /* Defina a largura do componente de tempo */
  margin-right: 20px; /* Espaço entre tempo e notícias */
}

.news {
  flex: 1; /* Ocupa o restante da largura */
}
